@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../../node_modules/bourbon-neat/core/neat.scss";
@import "../../stylesheets/variables.scss";
@import "../../stylesheets/_mixins.scss";

.header-nav {
    background-color: #5d5c5e;
    padding: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .nav-section {
        display: inline-block;
    }
    .tm-logo {
        flex: 1;
    }
    .signup-btn {
        margin-left: 57px;
    }
    .navigation {
        li.navigation-links__item{
            display: inline-block;
            padding: 0 25px;
        }
        a {
            font-family: Montserrat-Bold;
            font-size: $base-font-size;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
            &.active {
                padding-bottom: 5px;
                border-bottom: solid 5px #2effb5;
            }
            letter-spacing: 2px;
        }
        
    }
}