@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../../node_modules/bourbon-neat/core/neat.scss";
@import "../../stylesheets/variables.scss";
@import "../../stylesheets/_mixins.scss";

.header-section {
    background-color: #5d5c5e;
    padding: 2.5rem;
    overflow: hidden;
    display: flex;
    color: #fff;
    flex-direction: row;
    .nav-section {
        display: inline-block;
    }
    .tm-logo {
        flex: 1;
    }
    .signup-btn {
        margin-left: 3.5625rem;
    }
    .navigation {
        li.navigation-links__item{
            display: inline-block;
            padding: 0 1.5625rem;
        }
        a {
            font-family: Montserrat-Bold;
            font-size: $base-font-size;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
            &.active {
                padding-bottom: 0.3125rem;
                border-bottom: solid 0.3125rem #2effb5;
            }
            letter-spacing: 0.1667rem;
        }
        
    }

    
}
.hero-section {

    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__heading {
        font-family: ExodusDemo-Stencil;
        letter-spacing: 4.5px;
        font-size: 2.25rem;
        text-transform: uppercase;
    }
    &__description {
        font-size: 0.875rem;
        font-family: Montserrat-Regular;
        letter-spacing: 1.8px;
    }
    &__btn {
        margin-top: 2.5rem;
    }

}
