@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../../node_modules/bourbon-neat/core/neat.scss";
@import "../../stylesheets/_mixins.scss";
$my-custom-grid: ( columns: 12,
gutter: 0.625rem, /* 10/16 */
media: 75rem, /* 1200/16 */
color: rgba(#00d4ff, 0.25),
direction: ltr,
);
.content {
    @include grid-container;
    
    .middle-section{
        background-color: #f2f2f2;
        padding-bottom: 3.75rem; /* 60/16 */
        .section-heading {
            padding: 3.125rem 0;
            text-align: center;
            .heading {
                font-size: 2rem;
                font-weight: 600;
                letter-spacing: 0.25rem; /* 4/16 */
                color: #757575;
                margin: 0;
                font-family: Montserrat-bold;
            }
            .sub-heading {
                font-size: 0.875rem;
                font-weight: 300;
                letter-spacing: 1.0.5rem; /* 8/16 */
                color: #757575;
                margin: 0;
                margin-top: 0.625rem;
                font-family: Montserrat-regular;
            }
        }
        .slide {
            padding: 2.5rem;
            background-color: #ffffff;
            @include radius(0.3125rem); /* 5/16 */
            background-color: #ffffff;
            max-width: 22.5rem; /* 360/16 */
            margin-right: 0.625rem; /* 10/16 */
            .text-center {
                transform: translateX(32%);
                left: 32%;
                padding-bottom: 1.875rem;
            }
            .image-container {
                width: 5rem;
                height: 5rem;
                border: 0.0625em solid $gray-dd; /* 1/16 */
                border-radius: 50%;
                float: left;
                margin-right: 0.9375rem;
                display: block; 
                .image {
                    width: 4.375rem;
                    height: 4.375rem;
                    border: 0.0625rem solid $gray-dd; /* 1/16 */
                    border-radius: 50%;
                    margin: 0.3125rem;
                    background: $btn-primary;
                }
                .image-data0 {
                    background: url("../../assets/images/cloud.svg") no-repeat center $btn-primary;
                }
                .image-data1 {
                    background: url("../../assets/images/computer.svg") no-repeat center $btn-primary;
                }
                .image-data2 {
                    background: url("../../assets/images/rocket.svg") no-repeat center $btn-primary;
                }
            }

            h3 {
                color: #757575;
                @include fontsize(1.5rem); /* 24/16 */
                font-family: Montserrat-Bold;
                letter-spacing: 0.1875rem; /* 3/16 */
            }
            p {
                line-height: 1.57;
                letter-spacing: 1.0.5rem; /* 8/16 */
                text-align: left;
                color: #757575;
                font-family: Montserrat-Light;
            }
        }
    }
}