.carousel-wrap {
    
    margin: 0 auto;
    position: relative;
    .carousel-nav {
        position: absolute;
        top: calc(50% - 15px);
        width: 26px;
        height: 30px;
        padding-left: 16px;
        background-color: #dddddd;
        border-radius: 50%;
        padding-top: 10px;
        cursor: pointer;
        &.disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    .carousel-nav.left {
        left: -19px;
        z-index: 1000;
        transform: rotate(180deg);
    }
    .carousel-nav.right {
        right: -11px;
        z-index: 1000;
    }
    .carousel-content-wrap{
        overflow: hidden;
    }
    .carousel-content {
        max-height: 370px;
        text-align: center;
        position: relative;

    }
}