@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../../node_modules/bourbon-neat/core/neat.scss";

.carousel-wrap {
    
    width: 67.6875rem; 
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .carousel-nav {
        position: absolute;
        top: 50%;
        width: 1.875rem; 
        height: 1.875rem; 
        background-color: #f9f9f9;
        border-radius: 50%;
        padding-left: 0.8125rem; 
        padding-top: 0.625rem; 
    }
    .carousel-nav.left {
        left: 0;
        z-index: 1000;
    }
    .carousel-nav.right {
        right: 0;
        z-index: 1000;
    }
    .carousel-content {
        max-height: 23.125rem; 
        overflow: hidden;
        text-align: center;
        position: relative;

    }
}