@import "variables.scss";

//Use @include font-face('gotham', '/fonts/gotham');
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.otf');
        // src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
        // url($file-name + '.woff') format('woff'),
        // url($file-name + '.ttf') format('truetype'),
        // url($file-name + '.svg##{$font-name}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

/* RADIUS */

// usage example: @include radius(5)

@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* FONT SIZE */

// usage example: @include fontsize(16px);
//            or: @include fontsize(16);

@mixin fontsize($size) {
  $base-font-size: 16px !default;
  @if (unitless($size)){
    $size: $size * 1px;
  }
  font-size: $size;
  font-size: ($size / $base-font-size) * 1rem;
}

/* OPACITY */

// @include opacity(0.5);

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}