/////////////////////////////////
// VARIABLES
/////////////////////////////////

// Fonts
//Default font size
$base-font-size: 16px !default;

// Colors: 
$nuskinblue: blue;
$btn-primary: #2effb5;
$gray-dd: #dddddd;
$gray-4a: #4a4a4a;
