/////////////////////////////////
// VARIABLES
/////////////////////////////////

// Fonts
//Default font size
$base-font-size: 16px !default;
$montserrat-thin: 100;
$montserrat-light: 300;
$montserrat-regular: 400;
$montserrat-lighter: 500;
$montserrat-semibold: 600;
$montserrat-bold: 700;

// Colors: 
$nuskinblue: #008ab0;
$gray-light: #f9f9f9;
$gray-boulder: #757575;
$nuskinblue: blue;
$btn-primary: #2effb5;
$gray-dd: #dddddd;
$gray-4a: #4a4a4a;
$gray-shaft: #3f3f3f;

