@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../../node_modules/bourbon-neat/core/neat.scss";

.card-wrap{
    width: 22.5rem;
    max-height: 23.125rem; 
    display: inline-block;
}