@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../../node_modules/bourbon-neat/core/neat.scss";

@import "../../stylesheets/_variables.scss";
@import "../../stylesheets/_mixins.scss";
.span1 {
    @include grid-column(1);
}
.span2 {
    @include grid-column(2);
}
.span3 {
    @include grid-column(3);
}
.span4 {
    @include grid-column(4);
}
.span5 {
    @include grid-column(5);
}
.span6 {
    @include grid-column(6);
}
.span7 {
    @include grid-column(7);
}
.span8 {
    @include grid-column(8);
}
.span9 {
    @include grid-column(9);
}
.span10 {
    @include grid-column(10);
}
.span11 {
    @include grid-column(11);
}
.span12 {
    @include grid-column(12);
}


.panel-of-judges {
    background: #fff;
    color: #757575;
    p {
        font-family: Montserrat-Regular;
        @include fontsize(0.875em); /* 14/16 */
        margin: 0.3125rem 0;
    }

    .text-center {
        text-align: center;
        margin: 0 auto;
    }
    h2{
        @include fontsize(2rem); /* 32/16 */
        font-family: Montserrat-Bold;
        margin-top: 3.25rem;
        letter-spacing: 0.25rem; /* 4/16 */
        margin-bottom: 0;
    }
    .images-data-container {
        padding: 3.25rem 0;
        .image-container {
            width: 5rem;
            height: 5rem;
            border: 0.0625rem solid $gray-dd; /* 1/16 */
            border-radius: 50%;
            float:left;
            margin-right: 0.9375rem;
            .image {
                width: 4.375rem;
                height: 4.375rem;
                border: 0.0625rem solid $gray-dd; /* 1/16 */
                border-radius: 50%;
                margin: 0.3125rem;                
            }
            
            .image-data0{
                background: url("../../assets/images/image1.png") no-repeat center;
            }
            .image-data1{
                background: url("../../assets/images/image2.png") no-repeat center;
            }
            .image-data2{
                background: url("../../assets/images/image3.png") no-repeat center;
            }
            .image-data3{
                background: url("../../assets/images/image4.png") no-repeat center;
            }
        }
        .images-data {
            float: left;
            h4 {
                font-family: Montserrat-Regular;
                @include fontsize(1.25rem); /* 20/16 */
                margin: 0.5rem 0;
            }
        }        
    }

    hr {
        color: $gray-dd;
    }
    .lorem-data {
        margin-top: 3.25rem;
        margin-bottom: 2.25rem;
        width: 34.3125rem;
        letter-spacing: 1.0.5rem; /* 8/16 */
        font-weight: $montserrat-light;
    }
    .btn-primary {
        margin-bottom:  2.8125rem;
    }
}